@charset "UTF-8";
.header {
  padding: 15px 25px;
  color: #08A6E4;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  min-height: 70px;
  min-width: 320px;
  z-index: 4;
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-weight: 300;
  display: inline-block;
}
.header__hamburger {
  display: inline-block;
  height: 14px;
  width: 20px;
}
.header__hamburger:hover {
  cursor: pointer;
}
.header__hamburger--hidden {
  display: none;
}
.header__menu {
  margin-top: 40px;
  margin-bottom: 15px;
}
.header__menu__link {
  list-style: none;
  margin-top: 15px;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 3.28px;
  line-height: 15px;
  text-transform: uppercase;
}
.header__menu__link a {
  color: #A5A5A5;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header__menu__link:hover {
  cursor: pointer;
  color: black;
}
.header__menu--hidden {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .header {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__hamburger {
    display: none;
  }
  .header__flex {
    display: block;
  }
  .header__menu {
    display: block;
    margin: 0;
    height: 70px;
  }
  .header__menu__link {
    margin: 0;
    margin-left: 80px;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .header__menu__link:hover {
    border-bottom: 2px solid #08A6E4;
  }
  .header__menu-navbar {
    display: flex;
    height: 100%;
  }
}
.hero {
  margin-top: 70px;
  padding-top: 100px;
  text-align: center;
}
.hero__title {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 20px;
}
.hero__subtitle {
  font-size: 16px;
  margin: 0 30px;
  margin-bottom: 50px;
}
.hero__btn {
  display: inline-block;
  border-radius: 40px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  background-color: #08A6E4;
  padding: 22px 0;
  width: 275px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 50px;
}

@media only screen and (min-width: 1000px) {
  .hero__title {
    font-size: 49px;
  }
  .hero__btn {
    width: 440px;
  }
}
.intro {
  margin-bottom: 100px;
}
.intro__image {
  width: auto;
  height: 300px;
  background-image: url(../img/background1.png);
  background-position: center;
  background-size: cover;
}
.intro__title {
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin: 25px 40px;
}
.intro__box {
  text-align: center;
}
.intro__box__image {
  width: 65px;
  height: 65px;
}
.intro__box__number {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 5.96px;
}
.intro__box__text {
  font-weight: 400;
  font-size: 17px;
  color: #A5A5A5;
  margin: 25px 100px;
}

@media only screen and (min-width: 1000px) {
  .intro__image {
    margin-top: 30px;
    height: 600px;
  }
  .intro__title {
    margin: 100px 0;
    font-size: 36px;
  }
  .intro__box__image {
    width: 80px;
  }
  .intro__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.content {
  background-color: #F7F7F7;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.content__box {
  display: inline-block;
  text-align: left;
  margin: 20px 15px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  background-color: white;
  padding: 30px 20px;
  position: relative;
}
.content__box__image {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 110px;
  z-index: 2;
}
.content__box__image__red-circle {
  position: absolute;
  top: -25%;
  left: 55%;
  background: #FB3B64;
  border-radius: 41px;
  transform: rotate(-45deg);
  width: 90.12px;
  height: 90.12px;
  transform: translateZ(-10px);
}
.content__box__image--macbook {
  background-image: url(../img/macbook2.png);
  transform-style: preserve-3d;
}
.content__box__image--iphone {
  background-image: url(../img/iphone.png);
  height: 150px;
}
.content__box__blue-circle {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-62%);
  background: #08A6E4;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  z-index: 1;
}
.content__box__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 50px;
}
.content__box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: black;
  text-align: left;
}
.content__rect {
  margin: 0 15px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  height: 200px;
  background: #55DFB4;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  text-align: left;
}
.content__rect__image {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .content {
    padding: 100px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content__wrapper {
    max-width: 1200px;
  }
  .content__box-left {
    order: 1;
    width: 40%;
  }
  .content__box-right {
    order: 2;
    width: 40%;
  }
  .content__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
    padding: 50px 36px;
    height: 100%;
    width: 100%;
  }
  .content__box__title {
    margin-bottom: 30px;
    margin-top: 40px;
  }
  .content__box__image {
    margin-top: 20px;
    width: auto;
    height: 90%;
  }
  .content__box__image__red-circle {
    top: -10%;
    right: 5%;
    width: 180px;
    height: 180px;
    transform: rotate(-45deg) translateZ(-10px);
  }
  .content__box__image--macbook {
    margin-right: 40px;
  }
  .content__box__image--iphone {
    height: 100%;
  }
  .content__box__red-line {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 70%;
    border: 2px solid #FB3B64;
  }
  .content__box__blue-line {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 70%;
    border: 2px solid #08A6E4;
  }
  .content__box__green-line {
    margin-top: 40px;
    margin-bottom: 80px;
    width: 70%;
    border: 2px solid #55DFB4;
  }
  .content__box__blue-circle {
    top: 7%;
    left: 22%;
    width: 290px;
    height: 290px;
  }
  .content__box--block {
    display: block;
    width: 60%;
    padding-right: 20%;
  }
  .content__flex {
    display: flex;
    justify-content: space-between;
    height: 370px;
    max-width: 2400px;
    width: 100%;
  }
  .content__rect {
    width: 400px;
    order: 2;
    margin-top: 0px;
    height: 100%;
    margin-right: 0;
  }
  .content__rect__image {
    width: 70%;
    text-align: center;
    height: auto;
    top: 25%;
    left: 10%;
    transform: translate(0);
  }
}
.pricing {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.pricing__title {
  display: block;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.pricing__box {
  position: relative;
  margin: 40px 100px;
  margin-bottom: 80px;
  padding: 30px 10px;
  border-radius: 18px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  transition: all 0.3s;
}
.pricing__box__left {
  margin-top: 70px;
}
.pricing__box__left__name {
  color: #13253B;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.pricing__box__left__price {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
}
.pricing__box__left__limit {
  font-weight: 700;
  font-size: 12px;
}
.pricing__box__right {
  text-align: left;
}
.pricing__box__right__item {
  list-style: none;
  margin: 20px 0;
}
.pricing__box--basic {
  border: 1px solid #FB3B64;
}
.pricing__box--basic .pricing__box__btn {
  background-color: #FB3B64;
}
.pricing__box--basic .pricing__box__left__price {
  color: #FB3B64;
}
.pricing__box--professional {
  border: solid 1px #08A6E4;
}
.pricing__box--professional .pricing__box__btn {
  background-color: #08A6E4;
}
.pricing__box--professional .pricing__box__left__price {
  color: #08A6E4;
}
.pricing__box--premium {
  border: 1px solid #55DFB4;
}
.pricing__box--premium .pricing__box__btn {
  background-color: #55DFB4;
}
.pricing__box--premium .pricing__box__left__price {
  color: #55DFB4;
}
.pricing__box__btn {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 23px;
  border: none;
  width: 150px;
  height: 50px;
  font-weight: 700;
  font-size: 13px;
  color: white;
  cursor: pointer;
}
.pricing__box:hover {
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
  transform: scale(1.1);
}

@media only screen and (min-width: 1000px) {
  .pricing {
    text-align: center;
  }
  .pricing__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .pricing__title {
    margin-top: 100px;
    margin-bottom: 40px;
  }
  .pricing__box {
    margin: 50px 30px;
    display: block;
    width: 400px;
  }
  .pricing__box__left {
    display: block;
    margin: 0;
  }
  .pricing__box__right {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
}
.contact {
  padding: 30px;
  margin-top: 50px;
}
.contact__title {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 5px;
}
.contact__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 38px;
}
.contact__info {
  height: 25px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #A5A5A5;
  margin-bottom: 10px;
}
.contact__info__icon {
  display: inline;
  width: 25px;
  margin-right: 5px;
}
.contact__form {
  margin-top: 40px;
}
.contact__form__label {
  display: block;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  color: #08A6E4;
  margin-bottom: 10px;
}
.contact__form__input {
  display: block;
  margin: 10px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #95989A;
  width: 95%;
  padding: 5px 10px;
  margin-bottom: 30px;
}
.contact__form__checkbox {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}
.contact__form__checkbox__check {
  display: none;
}
.contact__form__checkbox__check + label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border: 1px solid #95989A;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #fff;
  transform: translateZ(-10px);
}
.contact__form__checkbox__check:checked + label:before {
  content: "✓";
  color: #08A6E4;
  text-align: center;
  background-color: white;
}
.contact__form__checkbox__label {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
}
.contact__form__error {
  font-size: 12px;
  color: red;
  margin-bottom: 10px;
  display: none;
}
.contact__form__btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.contact__form__btn-wrapper__btn {
  margin: 20px 0;
  margin-top: 40px;
  border: none;
  width: 226px;
  height: 56px;
  background: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 35px;
  font-weight: 700;
  font-size: 13px;
  color: white;
  font-family: "Open Sans";
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .contact {
    display: flex;
    width: 50vw;
    min-width: 1000px;
    margin: 50px auto;
    margin-top: 150px;
  }
  .contact__left {
    width: 50%;
  }
  .contact__right {
    width: 50%;
  }
  .contact__subtitle {
    margin-top: 30px;
  }
  .contact__info {
    margin-right: 30px;
  }
  .contact__info-flex {
    display: flex;
  }
}
.modal {
  position: fixed;
  z-index: 20;
  display: none;
  padding: 10px 40px;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 6px #555;
  border: 2px solid #95989A;
  border-radius: 30px;
  text-align: center;
}
.modal__title {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-weight: bold;
}
.modal__cross {
  position: absolute;
  top: 55px;
  right: 20px;
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.modal__form__input {
  font-size: 20px;
  border: none;
  outline: none;
  border-bottom: #95989A 2px solid;
  padding: 5px;
  margin-bottom: 40px;
  width: 100%;
}
.modal__form__btn {
  background-color: #08A6E4;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (min-width: 1000px) {
  .modal {
    padding: 30px 10px;
  }
  .modal__title {
    margin-bottom: 80px;
    margin-top: 20px;
    font-size: 36px;
  }
  .modal__form {
    flex-direction: row;
  }
  .modal__form__input {
    margin-bottom: 0;
    margin-right: 30px;
    width: 60%;
  }
  .modal__cross {
    position: absolute;
    top: 63px;
    right: 50px;
  }
  .modal__btn {
    font-size: 16px;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  background: #F7F7F7;
  padding: 20px;
}
.footer a {
  height: 100%;
  display: inline-block;
}
.footer__left__title {
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #08A6E4;
}
.footer__left__copyright {
  font-weight: 400;
  font-size: 11px;
  color: #A5A5A5;
}
.footer__right__icon {
  margin-left: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  min-width: 320px;
}

.scroller {
  position: fixed;
  top: 0;
  height: 5px;
  background-color: #08A6E4;
  width: 0%;
  z-index: 5;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.29);
}

.return-top {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  padding: 15px;
  background-color: #55DFB4;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 4px 8px rgba(33, 87, 71, 0.29);
  cursor: pointer;
  animation: opacityOnShow 0.3s;
}
@keyframes opacityOnShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.select-currency {
  margin-bottom: 20px;
}

.slider {
  margin-top: 150px;
  margin-bottom: 20px;
  width: 100%;
  padding: 30px 0;
  background-color: black;
  position: relative;
}
.slider__image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  transition: opacity 0.3s;
}
.slider__image--hidden {
  display: none;
}
.slider__btn {
  border-radius: 50%;
  border: 2px solid white;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}
.slider__next {
  right: 30px;
}
.slider__prev {
  left: 30px;
}
.slider__pointbox {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__pointbox__point {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.slider__pointbox__point--selected {
  background-color: white;
}

/*# sourceMappingURL=styles.css.map */
