@import "globals";

.modal {
  position: fixed;
  z-index: 20;
  display: none;
  padding: 10px 40px;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 6px #555;
  border: 2px solid #95989A;
  border-radius: 30px;
  text-align: center;

  &__title {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    font-weight: bold;
  }

  &__cross {
    position: absolute;
    top: 55px;
    right: 20px;
    cursor: pointer;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    &__input {
      font-size: 20px;
      border: none;
      outline: none;
      border-bottom: #95989A 2px solid;
      padding: 5px;
      margin-bottom: 40px;
      width: 100%;
    }

    &__btn {
      background-color: $color-primary;
      border: none;
      outline: none;
      padding: 10px 20px;
      cursor: pointer;
      color: white;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

@media only screen and (min-width: 1000px) {  
  .modal {
    padding: 30px 10px;

    &__title {
      margin-bottom: 80px;
      margin-top: 20px;
      font-size: 36px;
    }

    &__form {
      flex-direction: row;

      &__input {
        margin-bottom: 0;
        margin-right: 30px;
        width: 60%;
      }
    }
    
    &__cross {
      position: absolute;
      top: 63px;
      right: 50px;
    }

    &__btn {
      font-size: 16px;
    }
  }
}