$color-primary: #08A6E4;
$color-grey: #A5A5A5;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  min-width: 320px;
}

.header {
  padding: 15px 25px;
  color: #08A6E4;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  position: absolute;
  top: 0;
  background-color: white;
  width: 100%;
  min-height: 70px;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-weight: 300;
    display: inline-block;
  }

  &__hamburger {
    display: inline-block;
    height: 14px;
    width: 20px;
    &:hover {
      cursor: pointer;
    }

    &--hidden {
      display: none;
    }
  }

  &__menu {
    margin-top: 30px;
    margin-bottom: 15px;
    &__link {
      list-style: none;
      margin-top: 15px;
      font-weight: 700;
      font-size: 11px;
      letter-spacing: 3.28px;
      line-height: 15px;
      text-transform: uppercase;
      color: $color-grey;
      &:hover {
        cursor: pointer;
        color: black;
      }
    }

    &--hidden {
      display: none;
    }
  }
}

.hero {
  margin-top: 70px;
  padding-top: 100px;
  text-align: center;

  &__title {
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 16px;
    margin: 0 30px;
    margin-bottom: 50px;
  }

  &__btn {
    display: inline-block;
    border-radius: 40px;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    background-color: $color-primary;
    padding: 22px 0;
    width: 275px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 50px;
  }
}

.intro {
  margin-bottom: 100px;
  
  &__image {
    width: auto;
    height: 300px;
    background-image: url(img/background1.png);
    background-position: center;
    background-size: cover;
  }

  &__title {
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin: 25px 40px;
  }

  &__box {
    text-align: center;
    &__image {
      width: 65px;
      height: 65px;
    }

    &__number {
      font-weight: 800;
      font-size: 20px;
      letter-spacing: 5.96px;
    }

    &__text {
      font-weight: 400;
      font-size: 17px;
      color: $color-grey;
      margin: 25px 100px;
    }
  }
}

.content {
  background-color: #F7F7F7;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  
  &__box {
    display: inline-block;
    text-align: left;
    margin: 20px 15px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background-color: white;
    padding: 30px 20px;
    position: relative;

    &__image {
      display: block;
      position: relative;
      margin-top: 10px;
      margin-bottom: 25px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 110px;
      z-index: 2;

      &__red-circle {
        position: absolute;
        top: -25%;
        right: 30%;
        background: #FB3B64;
        border-radius: 41px;
        transform: rotate(-45deg);
        width: 90.12px;
        height: 90.12px;
        transform: translateZ(-10px);
      }

      &--macbook {
        background-image: url(img/macbook2.png);
        transform-style: preserve-3d;
      }
      &--iphone {
        background-image: url(img/iphone.png);
        height: 150px;
      }
    }

    &__blue-circle {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translateX(-62%);
      background: #08A6E4;
      border-radius: 50%;
      height: 150px;
      width: 150px;
      z-index: 1;
    }
    
    &__title {
      font-weight: 400;
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 50px;
    }

    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: black;
      text-align: left;
    }
  }

  &__rect {
    margin: 0 15px;
    margin-top: -25px;
    position: relative;
    z-index: 5;
    height: 200px;
    background: #55DFB4;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    text-align: left;

    &__image {
      position: absolute;
      top: 10%;
      width: auto;
      height: 100%;
    }
  }
}

.pricing {
  text-align: center;

  &__title {
    display: block;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__box {
    position: relative;
    margin: 60px 15px;
    padding: 30px 10px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr;

    &__left {
      margin-top: 70px;
      
      &__name {
        color: #13253B;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }

      &__price {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 46px;
        line-height: 64px;
      }

      &__limit {
        font-weight: 700;
        font-size: 12px;
      }
    }

    &__right {
      text-align: left;

      &__item {
        list-style: none;
        margin: 20px 0;
      }
    }

    &--basic {
      margin: 15px 40px;
      border: 1px solid #FB3B64;
      .pricing__box {
        &__btn {
          background-color: #FB3B64;
        }
        &__left__price {
          color: #FB3B64;
        }
      }
    }

    &--professional {
      border: solid 1px #08A6E4;
      box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
      padding: 50px 10px;
      .pricing__box {
        &__btn {
          background-color: #08A6E4;
        }
        &__left__price {
          color: #08A6E4;
        }
      }
    }

    &--premium {
      border: 1px solid #55DFB4;
      margin: 15px 40px;
      .pricing__box {
        &__btn {
          background-color: #55DFB4;
        }
        &__left__price {
          color: #55DFB4;
        }
      }
    }

    &__btn {
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 23px;
      border: none;
      width: 150px;
      height: 50px;
      font-weight: 700;
      font-size: 13px;
      color: white;
      cursor: pointer;
    }
  }
}

.contact {
  padding: 30px;
  margin-top: 50px;

  &__title {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 38px;
  }

  &__info {
    height: 25px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #A5A5A5;
    margin-bottom: 10px;

    &__icon {
      display: inline;
      width: 25px;
      margin-right: 5px;
    }
  }

  &__form {
    margin-top: 40px;

    &__label {
      display: block;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 3.28px;
      color: #08A6E4;
      margin-bottom: 10px;
    }

    &__input {
      display: block;
      margin: 10px 0;
      outline: none;
      border: none;
      border-bottom: 1px solid #95989A;
      width: 95%;
      padding: 5px 10px;
      margin-bottom: 30px;
    }

    &__checkbox {
      margin-top: 10px;
      display: flex;
      align-items: flex-start;
      
      &__check {
        display: none;
      }

      &__check + label:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        border: 1px solid #95989A;
        border-radius: 4px;
        margin-right: 10px;
        background-color: #fff;
      }

      &__check:checked + label:before {
        content: "\2713";
        color: $color-primary;
        text-align: center;
        background-color: white;
      }
  
      &__label {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #707070;
      }
    }

    &__btn-wrapper {
      display: flex;
      justify-content: flex-end;
      
      &__btn {
        margin: 20px 0;
        margin-top: 40px;
        border: none;
        width: 226px;
        height: 56px;
        background: #08A6E4;
        box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
        border-radius: 35px;
        font-weight: 700;
        font-size: 13px;
        color: white;
        font-family: 'Open Sans';
        cursor: pointer;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  background: #F7F7F7;
  padding: 20px;

  &__left {
    &__title {
      font-weight: 300;
      font-size: 26px;
      line-height: 30px;
      color: #08A6E4;
    }
    &__copyright {
      font-weight: 400;
      font-size: 11px;
      color: #A5A5A5;
    }
  }

  &__right {
    &__icon {
      margin-left: 10px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    padding: 0 80px;
    
    &__hamburger {
      display: none;
    }
    
    &__menu {
      display: block;
      margin: 0;
      height: 70px;

      &__link {
        margin: 0;
        margin-left: 20px;
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
          border-bottom: 2px solid $color-primary;
        }
      }
    }

    &__menu-navbar {
      display: flex;
      height: 100%;
    }
  }

  .intro {
    &__image {
      margin-top: 30px;
      height: 45vh;
    }
    
    &__title {
      margin: 100px 0;
    }

    &__box {
      &__image {
        width: 80px;
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .content {
    padding: 50px 100px;
    &__box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 40px;

      &__title {
        margin-bottom: 30px;
      }

      &__image {
        width: 400px;
      }

      &__red-circle {
        right: 10%;
      }

      &__blue-circle {
        top: 10%;
        left: 25%;
      }
    }

    &__box-left {
      order: 1;
    }

    &__box-right {
      order: 2;
    }
  }

}