* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  min-width: 320px;
}

.header {
  padding: 15px 25px;
  color: #08A6E4;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  position: absolute;
  top: 0;
  background-color: white;
  width: 100%;
  min-height: 70px;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-weight: 300;
  display: inline-block;
}
.header__hamburger {
  display: inline-block;
  height: 14px;
  width: 20px;
}
.header__hamburger:hover {
  cursor: pointer;
}
.header__hamburger--hidden {
  display: none;
}
.header__menu {
  margin-top: 30px;
  margin-bottom: 15px;
}
.header__menu__link {
  list-style: none;
  margin-top: 15px;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 3.28px;
  line-height: 15px;
  text-transform: uppercase;
  color: #A5A5A5;
}
.header__menu__link:hover {
  cursor: pointer;
  color: black;
}
.header__menu--hidden {
  display: none;
}

.hero {
  margin-top: 70px;
  padding-top: 100px;
  text-align: center;
}
.hero__title {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 20px;
}
.hero__subtitle {
  font-size: 16px;
  margin: 0 30px;
  margin-bottom: 50px;
}
.hero__btn {
  display: inline-block;
  border-radius: 40px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  background-color: #08A6E4;
  padding: 22px 0;
  width: 275px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 50px;
}

.intro {
  margin-bottom: 100px;
}
.intro__image {
  width: 100%;
  height: auto;
}
.intro__title {
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin: 25px 40px;
}
.intro__box {
  text-align: center;
}
.intro__box__image {
  width: 65px;
  height: 65px;
}
.intro__box__number {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 5.96px;
}
.intro__box__text {
  font-weight: 400;
  font-size: 17px;
  color: #A5A5A5;
  margin: 25px 100px;
}

.content {
  background-color: #F7F7F7;
  padding-top: 20px;
  padding-bottom: 40px;
}
.content__box {
  display: inline-block;
  margin: 20px 15px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  background-color: white;
  padding: 30px 20px;
  position: relative;
}
.content__box__image {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 110px;
  z-index: 2;
}
.content__box__image--macbook {
  background-image: url(img/macbook2.png);
}
.content__box__image--iphone {
  background-image: url(img/iphone.png);
  height: 150px;
}
.content__box__red-circle {
  position: absolute;
  background: #FB3B64;
  border-radius: 41px;
  transform: rotate(-45deg);
  width: 90.12px;
  height: 90.12px;
  right: 20vw;
  top: 5%;
  z-index: 1;
}
.content__box__blue-circle {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-62%);
  background: #08A6E4;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.content__box__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 50px;
}
.content__box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: black;
}
.content__rect {
  margin: 0 15px;
  margin-top: -25px;
  position: relative;
  z-index: 5;
  height: 200px;
  background: #55DFB4;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
.content__rect__image {
  position: absolute;
  top: 10%;
  left: 10%;
}

/*# sourceMappingURL=styles.css.map */
